<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>


    <div id="vue-app">
      
      <h1>example 1</h1>
      <li v-for="i in characters" > {{i}}</li>
      
      <h1>example 2</h1>
      <h1 v-for="i in characters">
        <li>
          {{i}} 
        </li>
      </h1>


      <h1>example 3</h1>
      <template v-for="i in characters">
        <li>
          {{i}} 
        </li>
      </template>

       <h1>example 3</h1>
      <template v-for="(i , index ) in characters">
        <li>
          {{index}} .  {{i}} 
        </li>
      </template>

      <h1>example 4</h1>
      <template v-for="i in objArray">
        <li>
          {{i.name}} 
        </li>
      </template>


      
  <h1>example 5</h1>
      <template v-for="i in objArray">
      <h6 v-for="(val , key) in i">
        <p>
           {{key}} -- {{val}} 
        </p>
      </h6>
      </template>


    </div>

    



    <script src="app.js"></script>
  </body>
</html>
