.colorM{
	height: 600px;
	width: 200px;
	background-image: url("bag.png");
	background-repeat: no-repeat;

}

#bag-h {
	width: 400px;
	height: 100px;
	border: 1px solid black;
}

.health{
	width: 400px;
	height: 100px;
	border: 1px solid black;
	background: red;

}